numpy==1.24.3
tenacity==8.2.2
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
lightning==2.2.5
accelerate==0.27.2
transformers==4.38.2
peft==0.11.1
datasets==2.18.0
blosc==1.11.1
tensorboardX==2.6.2.2
tensorboard==2.15.1
pydantic==2.6.3
trl==0.9.4
